.borde { /*Borde para hacer pruebas*/
    border: .01px solid rgb(113, 109, 109);
    margin-top: 3px;
}

.nav-img{
    max-width: 10%;
}

.texto-titulos { /*Texto de los titulos Ofertas y Categorias*/
    text-align: center;
    margin-top: 50px;
    background-color: rgb(221, 234, 234);
    padding: 1% 0;
}
/*Inicio Ofertas*/
.ofertas {
    display: flex;
    margin: 0 auto;
    margin-top: 50px;
}

.ofertas {
    overflow: hidden;
}

.img-ofertas:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    transition: 1s;
}

.img-ofertas {
    width: 50%;
    max-width: 50%;
    margin-left: 5%;
}

.img-ofertas>img {
    max-width: 90%;
}
/*Fin Ofertas*/

/*Inicio Categorias*/
.cat {
    display: flex;
    width: 100%;
    margin-top: 5%;
    margin-bottom: -3.5%;
}

.categoria {
    width: 30%;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(221, 234, 234);
}

.categoria:hover{
    filter: opacity(.5);
}

.categoria>img {
    max-width: 33%;
}

.enlaces{
    text-decoration: none;
    color: black;
}
/*Fin Categorias*/

/*Inicio Cards*/
.seccion-cards{
    margin-top: 10%;
    display: flex;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }

  @media (max-width: 768px){
    .seccion-cards{
        display: block;
    }

    .card{
        margin-bottom: 2%;
    }
  }

/*Fin Cards*/

/*Inicio Pie De Pagina*/
.pie-pagina {
    margin-top: 5%;
    background-image: url(../assets/bgfooter.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    padding-bottom: 6rem;
}

.contenedor {
    display: flex;
}

.texto-footer {
    color: rgb(255, 254, 254);
    margin-left: 1.5%;
    margin-top: 3%;
    font-size: 100%;
}

.texto-footer > button{
    all: unset;
}
@media (max-width: 768px) {
    .texto-footer{
        font-size: 80%;
    }

    .texto-footer > h5{
        font-size: 80%;
    }

    .icono-footer > img{
        max-width: 40%;
    }
}

.icono-footer>img {
    max-width: 80%;
}

/*Fin Pie De Pagina*/